extends layout 

block content 
    .container
        h1 #{title}
        form(action="/add" method="post")
            #form-group 
                label.fw-bold Title 
                input.form-control(type="text", name="title")
            #form-group 
                label Amount 
                input.form-control(type='number', name="amount")
            #form-group 
                label Category 
                input.form-control(type="text", name="category")
            input.btn.btn-primary.mt-2(type="submit", value="submit")