link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')

doctype
html(lang='en')
    head
        meta(charset='utf-8')
        title Expense Tracker
    body
        nav.navbar.bg-dark.border-bottom.border-body(data-bs-theme='dark')
            nav.navbar.navbar-expand-lg.bg-body-tertiary
                .container-fluid
                    a.navbar-brand(href='#') Dashboard  
                    .navbar-nav
                        a.nav-link.active(aria-current='page', href='/') Expenses
        block content 
        br
        hr
        footer 
            p &copy; 2024 Expense Tracker App